<p>
  home works!
</p>
<form (ngSubmit)="onSubmitEditForm(editForm)" #editForm="ngForm">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="journal.title" #title="ngModel" required>
    <ul *ngIf="title.errors && title.touched">
      <li *ngIf="title.errors.required">Title is required</li>
    </ul>
  </div>
  <div>
    <label for="content">Content</label>
    <input type="text" name="content" [(ngModel)]="journal.content" #content="ngModel" required>
    <ul *ngIf="content.errors && content.touched">
      <li *ngIf="content.errors.required">Content is required</li>
    </ul>
  </div>
  <button type="submit" [disabled]="!editForm.valid">Save</button>
</form>

<app-journal-list></app-journal-list>
